In [27]:
def data_type():
    i = 25 
    s = "sdfd"
    f = 14.7
    b = True
    l = [12,45,"fff"]
    d = {1: 'd', 2: 'g'}
    t = (12,4,)
    s = set("dffghtertvbc")
    types = [type(i).__name__, type(s).__name__, type(f).__name__, 
             type(b).__name__, type(l).__name__, type(d).__name__, type(t).__name__, type(s).__name__]
    return types

In [28]:
data_type()

['int', 'set', 'float', 'bool', 'list', 'dict', 'tuple', 'set']

In [29]:
types = data_type()
types

['int', 'set', 'float', 'bool', 'list', 'dict', 'tuple', 'set']

In [31]:
print (types)

['int', 'set', 'float', 'bool', 'list', 'dict', 'tuple', 'set']

# Второе задание

In [40]:
import csv

In [231]:
def read_write_csv (path = "C:/Users/Folder/d01_ds.csv"):
    with open(path,'rt', encoding = "utf-8") as source:
        rdr = csv.reader(source)
        with open('C:/Users/Денис/Documents/Игра Тролли/ds.tsv','wt', encoding = "utf-8") as target:
            wtr = csv.writer( target )
            for r in rdr:
                wtr.writerow( ("{}\t{}\t{}\t{}\t{}\t{}".format(r[0],r[1],r[2],r[3],r[4],r[5])) )

In [244]:
def read_write_csv1 (path = "C:/Users/Folder/d01_ds.csv"):
    with open(path,'rt', encoding = "utf-8") as source:
        rdr = csv.reader(source)
        with open('C:/Users/Денис/Documents/Игра Тролли/ds.tsv','wt', encoding = "utf-8") as target:
            wtr = csv.writer( target )
            for r in rdr:
                wtr.writerow( ('\t'.join(r)) )

In [245]:
read_write_csv1()

In [241]:
read_write_csv()

# Третье задание

In [65]:
list_of_tuples = [
              ('Russia', "25"),
              ("France", "132"),
              ("Germany", "132"),
              ("Spain", "178"),
              ("Italy", "162"),
              ("Portugal", "17"),
              ("Finland", "3"),
              ("Hungary", "2"),
              ("The Netherlands", "28"),
              ("The USA", "610"),
              ("The United Kingdom", "95"),
              ("China", "83"),
              ("Iran", "76"),
              ("Turkey", "65"),
              ("Belgium", "34"),
              ("Canada", "28"),
              ("Switzerland", "26"),
              ("Brazil", "25"),
              ("Austria", "14"),
              ("Israel", "12")
]

In [84]:
def Some_method() :
    diction = {}

    for i in list_of_tuples:
        print ( " \"{}\" : \"{}\" ".format(str(i[1]), str(i[0])) )
        diction[str(i[1])] = i[0]
    return diction

In [85]:
dicts = Some_method()

 "25" : "Russia"
 "132" : "France"
 "132" : "Germany"
 "178" : "Spain"
 "162" : "Italy"
 "17" : "Portugal"
 "3" : "Finland"
 "2" : "Hungary"
 "28" : "The Netherlands"
 "610" : "The USA"
 "95" : "The United Kingdom"
 "83" : "China"
 "76" : "Iran"
 "65" : "Turkey"
 "34" : "Belgium"
 "28" : "Canada"
 "26" : "Switzerland"
 "25" : "Brazil"
 "14" : "Austria"
 "12" : "Israel"

In [86]:
dicts

{'25': 'Brazil',
 '132': 'Germany',
 '178': 'Spain',
 '162': 'Italy',
 '17': 'Portugal',
 '3': 'Finland',
 '2': 'Hungary',
 '28': 'Canada',
 '610': 'The USA',
 '95': 'The United Kingdom',
 '83': 'China',
 '76': 'Iran',
 '65': 'Turkey',
 '34': 'Belgium',
 '26': 'Switzerland',
 '14': 'Austria',
 '12': 'Israel'}

# Четвертое задание

In [105]:
companies = {
    "Apple" : "AAPL",
    "Microsoft" : "MSFT",
    "Netflix" : "NFLX",
    "Tesla" : "TSLA",
    "Nokia" : "NOK"
 }

stocks = {
         "AAPL" : 287.73,
         "MSFT" : 173.79,
         "NFLX" : 416.90,
         "TSLA" : 724.88,
         "NOK" : 3.37
}

In [99]:
def Stock_Price (*args) : 
    if len(args) != 1: 
        return
    try :
        ticker = companies[name] 
        price = stocks[ticker]
    except : 
        return "Unknown company"
    return price

In [100]:
Stock_Price("Apple")

'Unknown company'

In [101]:
Stock_Price("FaceBook")

'Unknown company'

In [102]:
Stock_Price("Apple", "sdf")

In [103]:
Stock_Price()

# Пятое задание

In [104]:
companies = {
    "Apple" : "AAPL",
    "Microsoft" : "MSFT",
    "Netflix" : "NFLX",
    "Tesla" : "TSLA",
    "Nokia" : "NOK"
 }

stocks = {
         "AAPL" : 287.73,
         "MSFT" : 173.79,
         "NFLX" : 416.90,
         "TSLA" : 724.88,
         "NOK" : 3.37
}

In [106]:
def get_key(d, value):
    for k, v in d.items():
        if v == value:
            return k

In [132]:
name = get_key(companies, "MSFT")
name

'Microsoft'

In [118]:
price = stocks["AAPL"]
price

287.73

In [143]:
def Name_Price (*args) : 
    if len(args) != 1: 
        return
    try :
        name = get_key(companies, args[0]) 
        price = stocks[args[0]]
    except : 
        return "Unknown ticker"
    print("Name - {}, its stock price is {}".format(name, price))

In [144]:
Name_Price("MSFT")

Name - Microsoft, its stock price is 173.79

In [145]:
Name_Price("MSFT","aaa")

In [146]:
Name_Price()

In [147]:
Name_Price("MS")

'Unknown ticker'

# Шестое задание

In [174]:
companies = {
    "Apple" : "AAPL",
    "Microsoft" : "MSFT",
    "Netflix" : "NFLX",
    "Tesla" : "TSLA",
    "Nokia" : "NOK"
 }

stocks = {
         "AAPL" : 287.73,
         "MSFT" : 173.79,
         "NFLX" : 416.90,
         "TSLA" : 724.88,
         "NOK" : 3.37
}

In [175]:
for k,v in companies.items():
    print (k + ": " + v)

Apple: AAPL
Microsoft: MSFT
Netflix: NFLX
Tesla: TSLA
Nokia: NOK

In [226]:
def Many_Companies(*args): 
    companies_low = []
    tickers_low = []
    for k,v in companies.items(): 
        companies_low.append(k.lower()) 
        tickers_low.append(v.lower())
        
    for i in args: 
        if (i.replace(" ","") == "") or (i == None): 
            return
        i_new = i.strip().lower()
        if i_new in companies_low: 
            i_new = i_new[0].upper() + i_new[1:]
            ticker = companies[i_new]
            print ("{} has ticker {}".format(i_new, ticker))
        elif i_new in tickers_low: 
            i_new = i_new.upper()
            price = stocks[i_new]
            print ("{} stock's price is {}".format(i_new, price))
        else :
            print ("{} is not a company or ticker".format(i))

In [227]:
Many_Companies("AAPL", "Tesla" ,"apple ", "NOK")

AAPL stock's price is 287.73
Tesla has ticker TSLA
Apple has ticker AAPL
NOK stock's price is 3.37

In [228]:
Many_Companies()

In [229]:
Many_Companies("TSL",""," apple")

TSL is not a company or ticker

# Седьмое задание

In [246]:
list_of_tuples = [
              ('Russia', "25"),
              ("France", "132"),
              ("Germany", "132"),
              ("Spain", "178"),
              ("Italy", "162"),
              ("Portugal", "17"),
              ("Finland", "3"),
              ("Hungary", "2"),
              ("The Netherlands", "28"),
              ("The USA", "610"),
              ("The United Kingdom", "95"),
              ("China", "83"),
              ("Iran", "76"),
              ("Turkey", "65"),
              ("Belgium", "34"),
              ("Canada", "28"),
              ("Switzerland", "26"),
              ("Brazil", "25"),
              ("Austria", "14"),
              ("Israel", "12")
]

In [248]:
countries = {}
for i in list_of_tuples:
    countries[i[0]] = int(i[1])
sorted(countries, key = countries.get, reverse = True)

['The USA',
 'Spain',
 'Italy',
 'France',
 'Germany',
 'The United Kingdom',
 'China',
 'Iran',
 'Turkey',
 'Belgium',
 'The Netherlands',
 'Canada',
 'Switzerland',
 'Russia',
 'Brazil',
 'Portugal',
 'Austria',
 'Israel',
 'Finland',
 'Hungary']

# Восьмое задание

In [249]:
import string

In [280]:
    mes = "abxyz"
    res = ""
    shift = 1
    alp =  string.ascii_lowercase
    for i in mes:
        try:
            res+= alp[alp.index(i) + (shift % len(alp)) ]
        except IndexError: 
            res += alp[ (alp.index(i) + shift % len(alp)) % len(alp) ]
    res

'bcyza'

In [283]:
def caesar_encoding (mes, shift):
    alp =  string.ascii_lowercase
    res = ""
    for i in mes:
        try:
            res +=  alp[alp.index(i) + (shift % len(alp)) ]
        except IndexError: 
            res += alp[ (alp.index(i) + shift % len(alp)) % len(alp) ]
    return res

In [284]:
caesar_encoding("abcxyz",1)

'bcdyza'

In [285]:
caesar_encoding("abpxy", 44)

'sthpq'

In [286]:
caesar_encoding("adcx", 52)

'adcx'

In [287]:
def caesar_decoding (mes, shift):
    alp =  string.ascii_lowercase
    res = ""
    for i in mes:
        try:
            res +=  alp[alp.index(i) - (shift % len(alp)) ]
        except IndexError: 
            res += alp[ (alp.index(i) - shift % len(alp)) % len(alp) ]
    return res

In [288]:
caesar_decoding("bcdyza", 1)

'abcxyz'

In [289]:
caesar_decoding('sthpq', 44)

'abpxy'